test/workflows/pterodactyl-comprehensive-test.json
{
  "name": "Pterodactyl Node - Comprehensive Test",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "server",
        "operation": "list",
        "returnAll": true
      },
      "id": "test-server-list",
      "name": "Test: List Servers",
      "type": "n8n-nodes-pterodactyl.pterodactyl",
      "typeVersion": 1,
      "position": [460, 140],
      "credentials": {
        "pterodactylClientApi": {
          "id": "1",
          "name": "Pterodactyl Client API"
        }
      }
    },
    {
      "parameters": {
        "resource": "server",
        "operation": "get",
        "serverId": "={{ $json.attributes.identifier }}"
      },
      "id": "test-server-get",
      "name": "Test: Get Server",
      "type": "n8n-nodes-pterodactyl.pterodactyl",
      "typeVersion": 1,
      "position": [680, 140],
      "credentials": {
        "pterodactylClientApi": {
          "id": "1",
          "name": "Pterodactyl Client API"
        }
      }
    },
    {
      "parameters": {
        "resource": "server",
        "operation": "getResources",
        "serverId": "={{ $json.attributes.identifier }}"
      },
      "id": "test-server-resources",
      "name": "Test: Get Server Resources",
      "type": "n8n-nodes-pterodactyl.pterodactyl",
      "typeVersion": 1,
      "position": [900, 140],
      "credentials": {
        "pterodactylClientApi": {
          "id": "1",
          "name": "Pterodactyl Client API"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "serverId": "={{ $json.attributes.identifier }}",
        "directory": "/"
      },
      "id": "test-file-list",
      "name": "Test: List Files",
      "type": "n8n-nodes-pterodactyl.pterodactyl",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "pterodactylClientApi": {
          "id": "1",
          "name": "Pterodactyl Client API"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "createFolder",
        "serverId": "={{ $json.attributes.identifier }}",
        "directory": "/",
        "folderName": "n8n-test-folder"
      },
      "id": "test-file-create-folder",
      "name": "Test: Create Folder",
      "type": "n8n-nodes-pterodactyl.pterodactyl",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "pterodactylClientApi": {
          "id": "1",
          "name": "Pterodactyl Client API"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "write",
        "serverId": "={{ $json.attributes.identifier }}",
        "filePath": "/n8n-test-folder/test.txt",
        "fileContent": "This is a test file created by n8n automated testing."
      },
      "id": "test-file-write",
      "name": "Test: Write File",
      "type": "n8n-nodes-pterodactyl.pterodactyl",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": {
        "pterodactylClientApi": {
          "id": "1",
          "name": "Pterodactyl Client API"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "read",
        "serverId": "={{ $json.attributes.identifier }}",
        "filePath": "/n8n-test-folder/test.txt"
      },
      "id": "test-file-read",
      "name": "Test: Read File",
      "type": "n8n-nodes-pterodactyl.pterodactyl",
      "typeVersion": 1,
      "position": [1120, 300],
      "credentials": {
        "pterodactylClientApi": {
          "id": "1",
          "name": "Pterodactyl Client API"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "compress",
        "serverId": "={{ $json.attributes.identifier }}",
        "directory": "/n8n-test-folder",
        "files": ["test.txt"]
      },
      "id": "test-file-compress",
      "name": "Test: Compress Files",
      "type": "n8n-nodes-pterodactyl.pterodactyl",
      "typeVersion": 1,
      "position": [460, 460],
      "credentials": {
        "pterodactylClientApi": {
          "id": "1",
          "name": "Pterodactyl Client API"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "decompress",
        "serverId": "={{ $json.attributes.identifier }}",
        "directory": "/n8n-test-folder",
        "file": "archive.tar.gz"
      },
      "id": "test-file-decompress",
      "name": "Test: Decompress File",
      "type": "n8n-nodes-pterodactyl.pterodactyl",
      "typeVersion": 1,
      "position": [680, 460],
      "credentials": {
        "pterodactylClientApi": {
          "id": "1",
          "name": "Pterodactyl Client API"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "getUploadUrl",
        "serverId": "={{ $json.attributes.identifier }}"
      },
      "id": "test-file-upload-url",
      "name": "Test: Get Upload URL",
      "type": "n8n-nodes-pterodactyl.pterodactyl",
      "typeVersion": 1,
      "position": [900, 460],
      "credentials": {
        "pterodactylClientApi": {
          "id": "1",
          "name": "Pterodactyl Client API"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "serverId": "={{ $json.attributes.identifier }}",
        "directory": "/n8n-test-folder",
        "files": ["test.txt"]
      },
      "id": "test-file-delete",
      "name": "Test: Delete File",
      "type": "n8n-nodes-pterodactyl.pterodactyl",
      "typeVersion": 1,
      "position": [1120, 460],
      "credentials": {
        "pterodactylClientApi": {
          "id": "1",
          "name": "Pterodactyl Client API"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "list",
        "serverId": "={{ $json.attributes.identifier }}"
      },
      "id": "test-database-list",
      "name": "Test: List Databases",
      "type": "n8n-nodes-pterodactyl.pterodactyl",
      "typeVersion": 1,
      "position": [460, 620],
      "credentials": {
        "pterodactylClientApi": {
          "id": "1",
          "name": "Pterodactyl Client API"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "create",
        "serverId": "={{ $json.attributes.identifier }}",
        "databaseName": "n8n_test_db",
        "remote": "%"
      },
      "id": "test-database-create",
      "name": "Test: Create Database",
      "type": "n8n-nodes-pterodactyl.pterodactyl",
      "typeVersion": 1,
      "position": [680, 620],
      "credentials": {
        "pterodactylClientApi": {
          "id": "1",
          "name": "Pterodactyl Client API"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "rotatePassword",
        "serverId": "={{ $json.attributes.identifier }}",
        "databaseId": "={{ $json.attributes.id }}"
      },
      "id": "test-database-rotate",
      "name": "Test: Rotate Database Password",
      "type": "n8n-nodes-pterodactyl.pterodactyl",
      "typeVersion": 1,
      "position": [900, 620],
      "credentials": {
        "pterodactylClientApi": {
          "id": "1",
          "name": "Pterodactyl Client API"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "delete",
        "serverId": "={{ $json.attributes.identifier }}",
        "databaseId": "={{ $json.attributes.id }}"
      },
      "id": "test-database-delete",
      "name": "Test: Delete Database",
      "type": "n8n-nodes-pterodactyl.pterodactyl",
      "typeVersion": 1,
      "position": [1120, 620],
      "credentials": {
        "pterodactylClientApi": {
          "id": "1",
          "name": "Pterodactyl Client API"
        }
      }
    },
    {
      "parameters": {
        "resource": "backup",
        "operation": "list",
        "serverId": "={{ $json.attributes.identifier }}"
      },
      "id": "test-backup-list",
      "name": "Test: List Backups",
      "type": "n8n-nodes-pterodactyl.pterodactyl",
      "typeVersion": 1,
      "position": [460, 780],
      "credentials": {
        "pterodactylClientApi": {
          "id": "1",
          "name": "Pterodactyl Client API"
        }
      }
    },
    {
      "parameters": {
        "resource": "backup",
        "operation": "create",
        "serverId": "={{ $json.attributes.identifier }}",
        "name": "n8n-automated-test-backup",
        "locked": false
      },
      "id": "test-backup-create",
      "name": "Test: Create Backup",
      "type": "n8n-nodes-pterodactyl.pterodactyl",
      "typeVersion": 1,
      "position": [680, 780],
      "credentials": {
        "pterodactylClientApi": {
          "id": "1",
          "name": "Pterodactyl Client API"
        }
      }
    },
    {
      "parameters": {
        "resource": "backup",
        "operation": "get",
        "serverId": "={{ $json.attributes.identifier }}",
        "backupId": "={{ $json.attributes.uuid }}"
      },
      "id": "test-backup-get",
      "name": "Test: Get Backup",
      "type": "n8n-nodes-pterodactyl.pterodactyl",
      "typeVersion": 1,
      "position": [900, 780],
      "credentials": {
        "pterodactylClientApi": {
          "id": "1",
          "name": "Pterodactyl Client API"
        }
      }
    },
    {
      "parameters": {
        "resource": "backup",
        "operation": "download",
        "serverId": "={{ $json.attributes.identifier }}",
        "backupId": "={{ $json.attributes.uuid }}"
      },
      "id": "test-backup-download",
      "name": "Test: Get Backup Download URL",
      "type": "n8n-nodes-pterodactyl.pterodactyl",
      "typeVersion": 1,
      "position": [1120, 780],
      "credentials": {
        "pterodactylClientApi": {
          "id": "1",
          "name": "Pterodactyl Client API"
        }
      }
    },
    {
      "parameters": {
        "resource": "backup",
        "operation": "delete",
        "serverId": "={{ $json.attributes.identifier }}",
        "backupId": "={{ $json.attributes.uuid }}"
      },
      "id": "test-backup-delete",
      "name": "Test: Delete Backup",
      "type": "n8n-nodes-pterodactyl.pterodactyl",
      "typeVersion": 1,
      "position": [460, 940],
      "credentials": {
        "pterodactylClientApi": {
          "id": "1",
          "name": "Pterodactyl Client API"
        }
      }
    },
    {
      "parameters": {
        "resource": "account",
        "operation": "getAccount"
      },
      "id": "test-account-get",
      "name": "Test: Get Account",
      "type": "n8n-nodes-pterodactyl.pterodactyl",
      "typeVersion": 1,
      "position": [680, 940],
      "credentials": {
        "pterodactylClientApi": {
          "id": "1",
          "name": "Pterodactyl Client API"
        }
      }
    },
    {
      "parameters": {
        "resource": "account",
        "operation": "listApiKeys"
      },
      "id": "test-account-list-keys",
      "name": "Test: List API Keys",
      "type": "n8n-nodes-pterodactyl.pterodactyl",
      "typeVersion": 1,
      "position": [900, 940],
      "credentials": {
        "pterodactylClientApi": {
          "id": "1",
          "name": "Pterodactyl Client API"
        }
      }
    },
    {
      "parameters": {
        "resource": "account",
        "operation": "createApiKey",
        "description": "n8n automated test key",
        "allowedIps": []
      },
      "id": "test-account-create-key",
      "name": "Test: Create API Key",
      "type": "n8n-nodes-pterodactyl.pterodactyl",
      "typeVersion": 1,
      "position": [1120, 940],
      "credentials": {
        "pterodactylClientApi": {
          "id": "1",
          "name": "Pterodactyl Client API"
        }
      }
    },
    {
      "parameters": {
        "resource": "account",
        "operation": "deleteApiKey",
        "identifier": "={{ $json.attributes.identifier }}"
      },
      "id": "test-account-delete-key",
      "name": "Test: Delete API Key",
      "type": "n8n-nodes-pterodactyl.pterodactyl",
      "typeVersion": 1,
      "position": [460, 1100],
      "credentials": {
        "pterodactylClientApi": {
          "id": "1",
          "name": "Pterodactyl Client API"
        }
      }
    },
    {
      "parameters": {
        "resource": "server",
        "operation": "sendCommand",
        "serverId": "={{ $json.attributes.identifier }}",
        "command": "echo 'n8n test command executed'"
      },
      "id": "test-server-command",
      "name": "Test: Send Command",
      "type": "n8n-nodes-pterodactyl.pterodactyl",
      "typeVersion": 1,
      "position": [680, 1100],
      "credentials": {
        "pterodactylClientApi": {
          "id": "1",
          "name": "Pterodactyl Client API"
        }
      },
      "notes": "Only works if server is running"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "test_status",
              "value": "All Pterodactyl operations tested successfully!"
            },
            {
              "name": "operations_tested",
              "value": "29"
            },
            {
              "name": "resources_tested",
              "value": "5 (Server, File, Database, Backup, Account)"
            }
          ]
        },
        "options": {}
      },
      "id": "test-summary",
      "name": "Test Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [900, 1100]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Test: List Servers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test: List Servers": {
      "main": [
        [
          {
            "node": "Test: Get Server",
            "type": "main",
            "index": 0
          },
          {
            "node": "Test: List Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test: Get Server": {
      "main": [
        [
          {
            "node": "Test: Get Server Resources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test: List Files": {
      "main": [
        [
          {
            "node": "Test: Create Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test: Create Folder": {
      "main": [
        [
          {
            "node": "Test: Write File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test: Write File": {
      "main": [
        [
          {
            "node": "Test: Read File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test: Read File": {
      "main": [
        [
          {
            "node": "Test: Compress Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test: Compress Files": {
      "main": [
        [
          {
            "node": "Test: Decompress File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test: Decompress File": {
      "main": [
        [
          {
            "node": "Test: Get Upload URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test: Get Upload URL": {
      "main": [
        [
          {
            "node": "Test: Delete File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test: Delete File": {
      "main": [
        [
          {
            "node": "Test: List Databases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test: List Databases": {
      "main": [
        [
          {
            "node": "Test: Create Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test: Create Database": {
      "main": [
        [
          {
            "node": "Test: Rotate Database Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test: Rotate Database Password": {
      "main": [
        [
          {
            "node": "Test: Delete Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test: Delete Database": {
      "main": [
        [
          {
            "node": "Test: List Backups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test: List Backups": {
      "main": [
        [
          {
            "node": "Test: Create Backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test: Create Backup": {
      "main": [
        [
          {
            "node": "Test: Get Backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test: Get Backup": {
      "main": [
        [
          {
            "node": "Test: Get Backup Download URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test: Get Backup Download URL": {
      "main": [
        [
          {
            "node": "Test: Delete Backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test: Delete Backup": {
      "main": [
        [
          {
            "node": "Test: Get Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test: Get Account": {
      "main": [
        [
          {
            "node": "Test: List API Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test: List API Keys": {
      "main": [
        [
          {
            "node": "Test: Create API Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test: Create API Key": {
      "main": [
        [
          {
            "node": "Test: Delete API Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test: Delete API Key": {
      "main": [
        [
          {
            "node": "Test: Send Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test: Send Command": {
      "main": [
        [
          {
            "node": "Test Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-01T00:00:00.000Z",
  "versionId": "1"
}
